accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.10
aiosignal==1.3.2
asttokens 
async-timeout==5.0.1
attrs==25.3.0
bitsandbytes==0.46.0
certifi==2025.4.26
charset-normalizer==3.4.2
colorama 
comm 
datasets==3.6.0
debugpy
decorator 
dill==0.3.8
easyocr==1.7.2
exceptiongroup 
executing
filelock==3.18.0
frozenlist==1.6.2
fsspec==2025.3.0
huggingface-hub==0.32.4
idna==3.10
imageio==2.37.0
importlib_metadata 
ipykernel 
ipython 
jedi
Jinja2==3.1.6
jupyter_client 
jupyter_core 
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib-inline 
mpmath==1.3.0
multidict==6.4.4
multiprocess==0.70.16
nest_asyncio 
networkx==3.4.2
ninja==1.11.1.4
numpy==2.2.6
packaging 
pandas==2.3.0
parso 
peft==0.15.2
pickleshare 
platformdirs 
prompt_toolkit 
propcache==0.3.1
psutil
pure_eval
pyarrow==20.0.0
Pygments 
python-dateutil 
pytz==2025.2
pywin32==307
PyYAML==6.0.2
pyzmq 
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-image==0.25.2
six 
stack_data 
sympy==1.14.0
tokenizers==0.21.1
torch==2.7.1
tornado
tqdm==4.67.1
traitlets 
transformers==4.52.4
typing_extensions 
tzdata==2025.2
urllib3==2.4.0
wcwidth 
xxhash==3.5.0
yarl==1.20.0
zipp 
